body {
    background-color: #f4f4f9; /* Soft gray background for a neutral look */
    color: #212529; /* Dark gray for text for easy readability */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #3a86ff; /* Vibrant blue header for emphasis */
    color: #ffffff; /* White text for contrast */
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.section {
    background-color: #ffffff; /* White background for sections */
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: background-color 0.3s ease-in-out;
}

.section:hover {
    background-color: #eceff1; /* Light gray hover effect */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #ffffff; /* Keep header text color white */
}

button, input[type="submit"] {
    background-color: #ffbe0b; /* Bright yellow for buttons */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

button:hover, input[type="submit"]:hover {
    background-color: #ff9000; /* Darker orange for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

input[type="text"] {
    line-height: 1.8;
    width: 30%; /* Slightly wider for better visibility */
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #3a86ff; /* Highlighted border for focus */
    box-shadow: 0 0 6px rgba(58, 134, 255, 0.5); /* Blue glow on focus */
}

.correct {
    background-color: #8bc34a; /* Green for correct answers */
    color: #ffffff;
}

.incorrect {
    background-color: #e63946; /* Red for incorrect answers */
    color: #ffffff;
}
