{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1>Change Password</h1>
    <form action="/change_password" method="POST">
    <!-- User identification field -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>

    <!-- Old password field -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password" required>
        </div>

    <!-- New password field -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required>
        </div>

    <!-- Password confirmation field -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>

    <!-- Submit button -->
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
